/* SLIDE FONTS */
/******************************************************************************/
/* Below, need to specify a font name in THREE places: 
a. in body{}: spec font-family using quotes (space[s] for multiword)
b. in @import: change family= (+[s] for multiword)
c. enter name under Done:

Can search Google Fonts here: https://thomaspark.co/projects/fontcdn/


Notes:
* these specify SLIDE fonts [not the rest, eg. lecture sched etc]
* No layout, ONLY fonts!!
* load the fonts first off the web, then use..
* MANY: https://fonts.google.com/ Note: preview/pick fonts using (only) Chrome
* body{} is the ONLY place to specify a [non-code] font - this will be used for all the h? styles, p, ul, li etc.
*/

/* NICE - with this, I can IGNORE the 'b' below (@import),
and instead, specify a font-family in 'a' to be one of the 
fonts listed in localfonts.css - cool! Conversely, can leave the import below, 
uncommented, while I use a web font.
Summary: modify just a. for a local font; modify a. and b. for a web font.
*/
@import url(localfonts.css);

/******************************************************************************/
/******************************************************************************/


/* b.       + for multiwords, quotes NOT    needed */
@import url(https://fonts.googleapis.com/css?family=Lato);

/* a. <space> for multiwords, quotes ALWAYS needed! */
body 
{
  font-family: 'Lato'; 
}

/*
USE/USED - simply COPY one of these to a and b above, place an [x] here...
* Archivo Narrow [x]
* JetBrainsMono [x] [local, nice :)]
* Lato: [x]
* Quicksand[x]
* PT Sans Narrow
* Signika [x]
* Barlow Condensed [x]
* Roboto Condensed [x]
* Montserrat [x]
* Ubuntu [x]
* Questrial[x]
* Catamaran
* Roboto Condensed
* Bellota Text
* Barlow Condensed
* Josefin Sans
* Quantico
* Mukta Mahee
* Permanent Marker
* Quicksand
* Ubuntu
* Catamaran
* Josefin Sans
* metric
* Circular
* Capita
* Archivo Narrow
* PT Sans
* Livvic
* IBM+Plex+Mono:Light
* Tajawal:Bold [in the import line] [nice!]
* Ubuntu
* Cabin [nice!]
* Muli
* Nunito
* Roboto Condensed
* Alatsi [not yet]
* Alata
* Sulphur Point
* Ubuntu
* Open Sans
* PT Sans Narrow
* Permanent Marker
*/



/******************************************************************/
/******************************************************************/


h1, h2, h3, h4, h5, h6
{
	/* the type below will be used everywhere, except when overridden, eg. in 'pre' */
	/*font-family: "Tahoma", sans-serif;
        font-family: "Open Sans";*/
        font-weight: bold;
}

/* 'standard' p (plus ul, li) is below, can be overridden by *txt classes that come later */
/* treat the 40px below as 'medium', and scale up/down as before to
vvs vs s m l vl vvl; */
p
{
	/*font-family: Helvetica, sans-serif;
        font-family: "Open Sans";*/
	font-weight: regular;
}

ul
{
	/*font-family: "Helvetica", sans-serif;
    font-family: "Open Sans";*/
	font-weight: regular;
}

li
{
	/*font-family: "Arial", "Helvetica", sans-serif;
    font-family: "Open Sans";*/
	font-weight: regular;
}

/* next are the smaller versions of p, ul, li */
.smp
{
	/*font-family: Helvetica, sans-serif;*/
	font-style: normal;
}


.sml
{
	/*font-family: "Helvetica", sans-serif;*/
	font-style: normal;
}






/* talk title frame, ie v. first slide */
div#tframe
{
    
	font-weight: bold;
}


div#title
{
	font: 72pt/80pt Trebuchet MS, sans-serif;

}
div#subtitle
{
	font: 48pt/80pt Trebuchet MS, sans-serif;
}
div#xtxt
{
	font: 36pt/42pt Trebuchet MS, sans-serif;
}
div#btxt
{
	font: 30pt/36pt Trebuchet MS, sans-serif;
}
div#ltxt
{
	font: 24pt/30pt Trebuchet MS, sans-serif;
}
div#mtxt
{
	font: 20pt/24pt Trebuchet MS, sans-serif;
	color: #000046;
	text-align: left
}
div#stxt
{
	font: 14pt/18pt Trebuchet MS, sans-serif;
}
div#tinytxt
{
	font: 8pt/12pt Trebuchet MS, sans-serif;
	color: #000046;
	text-align: left
}
div#ittytxt
{
	font: 6pt/10pt Trebuchet MS, sans-serif;
}
div#hidtxt
{
	font: 14pt/44pt Trebuchet MS, sans-serif;
}
div#invtxt
{
	font: 72pt/80pt Trebuchet MS, sans-serif;
}

div#posterA
{
	font: 288pt/320pt Trebuchet MS, sans-serif;
	color: #000046;
	text-align: center
}
div#posterB
{
	font: 216pt/240pt Trebuchet MS, sans-serif;
}



p.more
{
	font: 8pt/10pt Trebuchet MS, sans-serif;
}



.hidtxt
{
	font: 14pt/44pt Trebuchet MS, sans-serif;
}
.invtxt
{
	font: 72pt/80pt Trebuchet MS, sans-serif;
}



.posterA
{
	font: 288pt/320pt Trebuchet MS, sans-serif;
}

.posterB
{
	font: 216pt/240pt Trebuchet MS, sans-serif;
}




/* usage: pre class="lcode" .... */
pre.lcode
{
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
}
pre.mcode
{
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
}
pre.scode
{
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
}



pre
{
	font-family: Consolas,monaco,monospace;
	font-weight: bold;
	/* from http://crafted-software.blogspot.com/2010/07/css-for-tag-list-of-best-monospaced.html */
	/*font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;'*/

	/*
	font-family: 'Consolas, Lucida Sans Typewriter,Lucida Typewriter,Courier New,Courier, monospace';
	font-family: 'SourceCodeProSemiBold';
	*/
}

/* local fonts' usage */
@font-face
{
	font-family: Sansation;
	src: url('sansation/sansation_light_webfont.ttf')
	,url('sansation/sansation_light_webfont.eot'); /* IE9+ */
}
@font-face
{
	font-family: Sansation;
	src: url('sansation/sansation_bold_webfont.ttf')
	,url('sansation/sansation_bold_webfont.eot'); /* IE9+ */
	font-weight: bold;
}

