/*
1. From https://www.cufonfonts.com/font/urban-tour-variable etc, click 'Download @font-face Kit'
2. unzip
3. grab the .woff and stick it here in fonts/
4. examine style.css, grab the @font-face block, stick it here
5. edit the block, add fonts/<subdir>/ to the url()
6. can now use the font-family in fonts_only.css AND in moi.min.css :)
*/

@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 400;
        src: local('JetBrainsMono'), url('fonts/JetBrains/JetBrainsMono-Regular.woff') format('woff');
}



@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 400;
        src: local('Circular'), url('fonts/Circular-Book.woff') format('woff');
}



/* thin serif! */
@font-face {
	font-family: "Capita";
	font-style: normal;
	font-weight: 200;
        src: local('Capita'), url('fonts/CapitaExtraLight.woff') format('woff');
}


/* thin, pretty */
/* remember the hyphen */
@font-face {
	font-family: "Brandon-Text";
	font-style: normal;
	font-weight: 400;
        src: local('Brandon Text'), url('fonts/BrandonTextRegular.woff') format('woff');
}

/* thin, pretty */
/* remember the hyphen */
@font-face {
	font-family: "Benton-Sans";
	font-style: normal;
	font-weight: 400;
        src: local('Benton Sans'), url('fonts/BentonSansRegular.woff') format('woff');
}

/* bit thick/goopy but readable! */
@font-face {
font-family: 'Flaunters Regular';
font-style: normal;
font-weight: 100;
src: local('Flaunters Regular'), url('fonts/flaunters/Flaunters.woff') format('woff');
}



/* VERY readable with fancy q g etc */
@font-face {
font-family: 'Bailey Sans ITC Com Book';
font-style: normal;
font-weight: normal;
src: local('Bailey Sans ITC Com Book'), url('fonts/bailey-sans-itc-com/BaileySansITCBook.woff') format('woff');
}



/* readable! */
@font-face {
font-family: 'Avenir Next LT Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Regular'), url('fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff') format('woff');
}


/* readable! */
@font-face {
font-family: 'Avenir Next LT Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed'), url('fonts/avenir-next-lt-pro/AvenirNextLTPro-Cn.woff') format('woff');
}


/* light, readable! */
@font-face {
font-family: 'Avancement 2020 Light';
font-style: normal;
font-weight: normal;
src: local('Avancement 2020 Light'), url('fonts/avancement-2020/Avancement2020-Light.woff') format('woff');
}


/* fancy! */
@font-face {
font-family: 'Urban TOUR variable Regular';
font-style: normal;
font-weight: normal;
src: local('Urban TOUR variable Regular'), url('fonts/UrbanTourVariable-Ol9d.woff') format('woff');
}

/* very pretty, readable */
@font-face {
  font-family:'metric';
  src:url('fonts/MetricWeb-Regular.woff');
  font-style:normal;
  font-display:swap;
  font-weight:400; 
}

